interface GigabitEthernet0/1
    ip address {{ ip_addr }} {{ ip_mask }}
exit

{% for route in routes %}
{% for gw in route.gws %}
ip route {{ route.network }} {{ route.mask }} {{ gw }}
{% endfor %}
{% endfor %}
